.flex {
    display: flex;
}

.flex-full {
    flex: 1 0 auto;
}

.flex-column {
    flex-direction: column;
}

/* size */

.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100wh;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}